matplotlib
notebook 
pandas
pyarrow
requests
seaborn 
xgboost
lightgbm
plotly
python-dotenv
joblib
numpy
folium
geopandas 
hopsworks
streamlit_folium  

scikit-learn==1.5.2
#!pip uninstall -y scikit-learn
#!pip install scikit-learn==1.5.2
